$ab-font: 'Roboto', sans-serif;
$ab-font-head: 'Roboto Slab', sans-serif;

$blue-dark:	#13293D;
$blue-med:	#4787C7;
$blue-lt:	#C6D2EB;
$white:		#FFFFFF;
$red-dark:	#791316;
$orange:	#F36C24;
$brown:		#43281C;
$brown-lt:	#C3B4A6;

$ab-color-text:			$blue-dark;
$ab-color-head:			$blue-dark;
$ab-color-link: 		$blue-med;
$ab-color-callout:		$blue-lt;
$ab-color-nav-bg: 		$blue-dark;
$ab-color-nav-text: 	$white;
$ab-color-nav-edge: 	$red-dark;
$ab-color-nav-hover:	$orange;

$nav-height:80px;

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
	background-color:transparent;
}
html, body, div{
	position:relative;
}
html, body {
	font-family:$ab-font;
	color:$ab-color-text;
	font-size:18px;
	line-height:30px;
}
h1{
	font-family:$ab-font-head;
	font-size:3.75em;
	line-height:1.8em;
	color:$ab-color-head;
}
h2{
	font-family:$ab-font-head;
	font-size:1.75em;
	line-height:2.5em;
	color:$ab-color-head;
}
a{
	text-decoration:underline;
}

body{
	padding-top:$nav-height;
	box-sizing:border-box;
}
nav{
	display:block;
	position:fixed;
	top:0;
	left:0;
	background-color:$ab-color-nav-bg;
	color:$ab-color-nav-text;
	height:$nav-height;
	width:100%;
	border-bottom:6px solid $ab-color-nav-edge;
	box-sizing:border-box;

	display:flex;
	flex-direction:row;
	& > *{
		text-decoration:none;
		line-height:$nav-height;
		flex-grow:1;
		text-align:center;
		vertical-align:middle;
		font-weight:lighter;
		&:hover{
			background-color:$ab-color-nav-hover;
		}
		&[href=""]{
			flex-grow:10;
			&:hover{
				cursor:default;
				background-color:transparent;
			}
		}
	}
	& > .logo{
		font-weight:bold;
		img{
			width:0.75 * $nav-height;
			height:0.75 * $nav-height;
			display:inline-block;
			vertical-align:middle;
		}
	}
}
