* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

html, body, div {
  position: relative;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: #13293D;
  font-size: 18px;
  line-height: 30px;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3.75em;
  line-height: 1.8em;
  color: #13293D;
}

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.75em;
  line-height: 2.5em;
  color: #13293D;
}

a {
  text-decoration: underline;
}

body {
  padding-top: 80px;
  box-sizing: border-box;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #13293D;
  color: #FFFFFF;
  height: 80px;
  width: 100%;
  border-bottom: 6px solid #791316;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
nav > a {
  text-decoration: none;
  line-height: 80px;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  font-weight: lighter;
}
nav > a:hover {
  background-color: #F36C24;
}
nav > .space {
  flex-grow: 10;
}
nav > .logo {
  font-weight: bold;
}
nav > .logo img {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}
